@import "utils";
@import "fonts";
@import "typography";

.people {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 200px);
  grid-gap: 30px 40px;

  @media (min-width: 1000px) {
    & {
      grid-template-columns: repeat(4, 200px);
    }
  }
}

.photo {
  position: relative;
  img {
    border-radius: 200px;
    width: 200px;
  }
}

.person {
  transition: all 0.2s ease;

  .photo > img {
    height: 200px;
    border-radius: 50%;
    margin-bottom: 8px;
    transition: border-radius 1s, transform 1s;
  }

  .extra {
    padding: 5px;
    display: none;
    font-size: 18px;
    line-height: 21px;
    color: black;
  }

  .sport::after {
    content: ",";
  }

  .pay::before {
    content: "$";
  }

  .pay::after {
    content: "M";
  }
}

.details {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 20px;
  line-height: 23px;
  color: #2f4f4f;
}

.rank {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #fff;
  font-family: Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #8b0000;
  border-radius: 50%;
  margin: auto 10px auto auto;
  line-height: 32px;
}

.person:hover {
  background: #eee;
  transform: scale(1.35) translateY(15px);
  z-index: 1;

  img {
    border-radius: 60px;
    transform: scale(0.9);
    margin: 0;
  }

  .extra {
    background: #eee;
    display: block;
    color: #000;
  }
}
